<section class="about-section">
    <div class="container">
        <h2>
            {{ textService.about_title | translate }}
        </h2>
        <p>
            {{ textService.about_welcome | translate }}
        </p>
        <p>
            {{ textService.about_description1 | translate }}
        </p>
        <p>
            {{ textService.about_description2 | translate }}
        </p>
        <p>
            {{ textService.about_description3 | translate }}
        </p>
        <p>
            {{ textService.about_description4 | translate }}
        </p>
        <p>
            {{ textService.about_description5 | translate }}
        </p>
        <p>
            {{ textService.about_description6 | translate }}
        </p>
    </div>
</section>