@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    // Get the color config from the theme.
    $color-config: mat.m2-get-color-config($theme);

    $primary-palette: map.get($color-config, "primary");
    $accent-palette: map.get($color-config, "accent");
    $warn-palette: map.get($color-config, "warn");

    .data-table__cell {
        a {
            color: mat.m2-get-color-from-palette($primary-palette);
        }

        a::after {
            background-color: mat.m2-get-color-from-palette($accent-palette);
        }

        a:hover {
            color: mat.m2-get-color-from-palette($accent-palette);
        }
    }
    
    .data-table__row--yes {
        background-color: mat.m2-get-color-from-palette($accent-palette, 50) !important;
    }
    
    .data-table__row--maybe {
        background-color: mat.m2-get-color-from-palette($warn-palette, 50) !important;
    }
}

@mixin typography($theme) {
}

@mixin theme($theme, $typography-config) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}
