@use '@angular/material' as mat;

.page-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.action-button {
    margin-top: 20px;
    margin-left: 20px;
}

.table-container {
    @include mat.table-density(-3);
    padding: 10px 20px 20px 20px;
}

.data-table {
    border-collapse: collapse;
    border-top: 0px;
    margin-top: 15px;
    width: 95%;
    min-width: 95%;
    max-width: 95%;

    .data-table__header {
        width: 14.3%;
        padding: 5px 8px 5px 8px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 14px;
        font-weight: 600;

        &.data-table__header--numeric {
            text-align: right;
        }
    }

    .data-table__cell {
        vertical-align: middle;
        font-size: 12px;
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 8px;
        padding-right: 8px;

        &.data-table__cell--numeric {
            text-align: right;
        }

        a {
            text-decoration: none;
            display: inline-block;
            position: relative;
        }
    
        a::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
    
        a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}
