@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);

    $primary-palette: map.get($color-config, "primary");
    $accent-palette: map.get($color-config, "accent");
    $warn-palette: map.get($color-config, "warn");

    .dashboard__stat--top-score {
        background-color: mat.m2-get-color-from-palette($accent-palette, 50);
    }

    .dashboard__stat--near-top-score {
        background-color: mat.m2-get-color-from-palette($warn-palette, 50);
    }

    .dashboard__table-row--top-score {
        background-color: mat.m2-get-color-from-palette($accent-palette, 50);
    }

    .dashboard__table-row--near-top-score {
        background-color: mat.m2-get-color-from-palette($warn-palette, 50);
    }

    .dashboard__stat--close-to-top-score {
        background-color: mat.m2-get-color-from-palette($primary-palette, 50);
    }

    .dashboard__table-row--close-to-top-score {
        background-color: mat.m2-get-color-from-palette($primary-palette, 50);
    }
}

@mixin typography($theme) {
}

@mixin theme($theme, $typography-config) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}
