<!-- On error -->
<div *ngIf="errorMsg">
    <h2>{{ errorMsg }}</h2>
</div>

<!-- While loading -->
<div *ngIf="loading && !errorMsg">
    <h2>Loading...</h2>
</div>

<!-- Valid company details loaded, display report -->
<div *ngIf="companyDetails && !loading && !errorMsg">
    <!-- Display the company details here -->
    <h2>{{ companyDetails.companyName }}</h2>

    <div class="external-links">
        <a [href]="'https://finance.yahoo.com/quote/' + instrumentSymbol + '.TO/'" target="_blank" rel="noopener noreferrer">Yahoo Finance</a>
        <a [href]="'https://www.google.com/finance/quote/' + instrumentSymbol + ':TSE'" target="_blank" rel="noopener noreferrer">Google Finance</a>
        <a [href]="'https://money.tmx.com/en/quote/' + instrumentSymbol" target="_blank" rel="noopener noreferrer">TMX Money</a>
    </div>

    <div class="table-container">
        <table class="mat-table data-table">

            <!-- Overview -->
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="2">
                    Overview
                </th>

                <th class="mat-header-cell data-table__header">Exchange</th>
                <td class="mat-cell data-table__data">{{ companyDetails.exchange }}</td>

                <th class="mat-header-cell data-table__header">Company Name</th>
                <td class="mat-cell data-table__data">{{ companyDetails.companyName }}</td>

                <th class="mat-header-cell data-table__header">Instrument Name</th>
                <td class="mat-cell data-table__data">{{ companyDetails.instrumentName }}</td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="The maximum per-share price at which the company passes all valuation checks. Based on the most conservative of: 3x book value, 20x estimated return from cash flow, and 20x estimated return from owner earnings.">
                        Max Buy Price
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">{{ companyDetails.maxPrice |
                    currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">Company Symbol</th>
                <td class="mat-cell data-table__data">{{ companyDetails.companySymbol }}</td>

                <th class="mat-header-cell data-table__header">Instrument Symbol</th>
                <td class="mat-cell data-table__data">{{ companyDetails.instrumentSymbol }}</td>

                <th class="mat-header-cell data-table__header">Price Per Share</th>
                <td class="mat-cell data-table__data data-table__data--numeric">{{ companyDetails.pricePerShare |
                    currency:'USD':'symbol':'1.2-2' }}</td>

                <th class="mat-header-cell data-table__header">% Upside</th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.percentageUpside / 100.0 | percent:'1.2-2' }}
                </td>
            </tr>

            <!-- Scores -->
            <tr class="mat-row data-table__row data-table__row--alternating">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="4">
                    Scores
                </th>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Is Debt-to-Equity &lt; 0.5?">
                        Debt-to-Equity Small Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckDebtToEquitySmallEnough}">
                    {{ companyDetails.doesPassCheckDebtToEquitySmallEnough ? 'Yes' :
                    'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Is Long-Term Debt To Book Ratio &lt; 1.0?">
                        Debt-to-Book Small Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckDebtToBookRatioSmallEnough}">
                    {{ companyDetails.doesPassCheckDebtToBookRatioSmallEnough ? 'Yes' :
                    'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Is Book Value &gt; $150 million?">
                        Book Value Big Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckBookValueBigEnough}">
                    {{ companyDetails.doesPassCheckBookValueBigEnough ? 'Yes' :
                    'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Is Price-to-Book &lt;&equals; 3.0">
                        Price-to-Book Small Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckPriceToBookSmallEnough}">
                    {{ companyDetails.doesPassCheckPriceToBookSmallEnough ? 'Yes' :
                    'No' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="Is next year's expected total return (from cash flow) &gt; 5.0%?">
                        Est. Next Year Total Return Cash Flow Big Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_BigEnough}">
                    {{ companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_BigEnough ? 'Yes' : 'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="Is next year's expected total return (from owner earnings) &gt; 5.0%?">
                        Est. Next Year Total Return Owner Earnings Big Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_BigEnough}">
                    {{ companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_BigEnough ?
                    'Yes' : 'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="Is next year's expected total return (from cash flow) &lt; 40%? (Greater would probably mean some data is inaccurate)">
                        Est. Next Year Total Return Cash Flow Not Too Big?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_NotTooBig}">
                    {{ companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_NotTooBig ? 'Yes' : 'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="Is next year's expected total return (from owner earnings) &lt; 40%? (Greater would probably mean some data is inaccurate)">
                        Est. Next Year Total Return Owner Earnings Not Too Big?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_NotTooBig}">
                    {{ companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_NotTooBig ?
                    'Yes' : 'No' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Is the average cash flow over the past 5 years positive?">
                        Avg. Cash Flow Positive?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAvgCashFlow_Positive}">
                    {{ companyDetails.doesPassCheckAvgCashFlow_Positive ? 'Yes' :
                    'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Are the average owner earnings over the past 5 years positive?">
                        Avg. Owner Earnings Positive?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAvgOwnerEarningsPositive}">
                    {{ companyDetails.doesPassCheckAvgOwnerEarningsPositive ? 'Yes' :
                    'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Are the lifetime retained earnings positive?">
                        Are the lifetime retained earnings positive?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAdjustedRetainedEarningsPositive}">
                    {{ companyDetails.doesPassCheckAdjustedRetainedEarningsPositive ? 'Yes'
                    : 'No' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Have the retained earnings increased from 5 years ago up until the most recent annual or quarterly report?">
                        Retained Earnings Increased?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.didAdjustedRetainedEarningsIncrease}">
                    {{ companyDetails.didAdjustedRetainedEarningsIncrease ? 'Yes' :
                    'No' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Have there been at least 4 years of annual reports?">
                        History Long Enough?
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckIsHistoryLongEnough}">
                    {{ companyDetails.doesPassCheckIsHistoryLongEnough ? 'Yes' :
                    'No' }}
                </td>

                <!-- Spacer -->
                <td class="mat-row data-table__data" colspan="4">&nbsp;</td>

                <th class="mat-header-cell data-table__header">
                    Overall Score
                </th>
                <td class="mat-cell data-table__data data-table__data--score">
                    <strong>{{ companyDetails.overallScore }} / 13</strong>
                </td>
            </tr>

            <!-- Financials -->
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="5">
                    Financials
                </th>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Total value of the outstanding shares. Calculated by multiplying the share price by the total number of shares.">
                        Market Cap
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curMarketCap | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Liabilities that are due in more than one year including loans, bonds, and other forms of debt with a maturity date beyond the next twelve months.">
                        Long Term Debt
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curLongTermDebt | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Total value of assets minus liabilities.">
                        Total Shareholders Equity
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curTotalShareholdersEquity | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Dividends paid in the last 12 months">
                        Cur. Dividends Paid
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curDividendsPaid | currency:'USD':'symbol':'1.0-0' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Average amount of cash generated or consumed by a company's operations annually after deducting expenses, taxes, and other costs over the past 5 years.">
                        Avg. Net Cash Flow
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.averageNetCashFlow | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Average amount of cash generated by a company's operations annually that is available for distribution to owners or reinvestment in the business over the past 5 years.">
                        Avg. Owner Earnings
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.averageOwnerEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Lifetime accumulated profits that have not been distributed to shareholders as dividends and are reinvested in the business.">
                        Cur. Retained Earnings
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curAdjustedRetainedEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Accumulated profits that have not been distributed to shareholders as dividends and are reinvested in the business taken from the cash flow report 5 years ago. Used for comparison with 'Current Retained Earnings'.">
                        Oldest Retained Earnings
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.oldestRetainedEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Indicates the proportion of a company's financing that comes from debt compared to equity. It is calculated by dividing total debt by total equity.">
                        Debt To Equity Ratio
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.debtToEquityRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Compares a company's current stock price to its book value per share. It is calculated by dividing the current market price per share by the book value per share.">
                        Cur. Price To Book Ratio
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curPriceToBookRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="The proportion of a company's long-term debt relative to its book value. It is calculated by dividing long-term debt by book value.">
                        Long-Term Debt To Book Ratio
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.longTermDebtToBookRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span matTooltip="Total value of assets minus liabilities, where assets exclude intangibles (e.g. patents, trademarks, copyrights, brand value, etc.)">
                        Book Value
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curBookValue | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="The projected next year's book value based on current book value and average cash flow over the past 5 years.">
                        Est. Next Year Book Value From Cash Flow
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearBookValue_FromCashFlow | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="The projected next year's book value based on current book value and average owner earnings over the past 5 years.">
                        Est. Next Year Book Value From Owner Earnings
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearBookValueFromOwnerEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="The projected percentage increase in book value over the next year based on 'Estimated Next Year Book From Cash Flow' compared to current Book Value.">
                        Est. Next Year Total Return From Cash Flow (%)
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearTotalReturnPercentage_FromCashFlow / 100.0 | percent:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        matTooltip="The projected percentage increase in book value over the next year based on 'Estimated Next Year Book Value From Owner Earnings' compared to current Book Value.">
                        Est. Next Year Total Return From Owner Earnings (%)
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearTotalReturnPercentageFromOwnerEarnings / 100.0 | percent:'1.2-2'
                    }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span matTooltip="The number of annual reports used to create this report. Never more than 5 (we never look back more than 5 years).">
                        Num Annual Processed Cash Flow Reports
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score">{{
                    companyDetails.numAnnualProcessedCashFlowReports }}</td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
