<!-- On error -->
<div *ngIf="errorMsg">
    <h2>{{ errorMsg }}</h2>
</div>

<!-- While loading -->
<div *ngIf="loading && !errorMsg">
    <h2>{{ textService.text_loading_ellipses | translate }}</h2>
</div>

<!-- Valid company details loaded, display report -->
<div *ngIf="companyDetails && !loading && !errorMsg">
    <!-- Display the company details here -->
    <h2>{{ companyDetails.companyName }}</h2>

    <div class="external-links">
        <a [href]="'https://finance.yahoo.com/quote/' + instrumentSymbol + '.TO/'" target="_blank" rel="noopener noreferrer">Yahoo Finance</a>
        <a [href]="'https://www.google.com/finance/quote/' + instrumentSymbol + ':TSE'" target="_blank" rel="noopener noreferrer">Google Finance</a>
        <a [href]="'https://money.tmx.com/en/quote/' + instrumentSymbol" target="_blank" rel="noopener noreferrer">TMX Money</a>
    </div>

    <div class="table-container">
        <table class="mat-table data-table">

            <!-- Overview -->
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="2">
                    {{ textService.text_overview | translate }}
                </th>

                <th class="mat-header-cell data-table__header">{{ textService.text_exchange | translate }}</th>
                <td class="mat-cell data-table__data">{{ companyDetails.exchange }}</td>

                <th class="mat-header-cell data-table__header">{{ textService.text_company_name | translate }}</th>
                <td class="mat-cell data-table__data">{{ companyDetails.companyName }}</td>

                <th class="mat-header-cell data-table__header">{{ textService.text_instrument_name | translate }}</th>
                <td class="mat-cell data-table__data">{{ companyDetails.instrumentName }}</td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_max_price_tooltip | translate">
                        {{ textService.text_max_price | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">{{ companyDetails.maxPrice |
                    currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">{{ textService.text_company_symbol | translate }}</th>
                <td class="mat-cell data-table__data">{{ companyDetails.companySymbol }}</td>

                <th class="mat-header-cell data-table__header">{{ textService.text_instrument_symbol | translate }}</th>
                <td class="mat-cell data-table__data">{{ companyDetails.instrumentSymbol }}</td>

                <th class="mat-header-cell data-table__header">{{ textService.text_price_per_share | translate }}</th>
                <td class="mat-cell data-table__data data-table__data--numeric">{{ companyDetails.pricePerShare |
                    currency:'USD':'symbol':'1.2-2' }}</td>

                <th class="mat-header-cell data-table__header">{{ textService.text_number_of_shares | translate }}</th>
                <td class="mat-cell data-table__data data-table__data--numeric">{{ companyDetails.curNumShares |
                    number:'1.0-0' }}</td>
            </tr>

            <!-- Scores -->
            <tr class="mat-row data-table__row data-table__row--alternating">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="4">
                    {{ textService.text_scores | translate }}
                </th>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_debt_to_equity_small_enough_tooltip | translate">
                        {{ textService.company_details_debt_to_equity_small_enough | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckDebtToEquitySmallEnough}">
                    {{ companyDetails.doesPassCheckDebtToEquitySmallEnough ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_debt_to_book_small_enough_tooltip | translate">
                        {{ textService.company_details_debt_to_book_small_enough | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckDebtToBookRatioSmallEnough}">
                    {{ companyDetails.doesPassCheckDebtToBookRatioSmallEnough ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_book_value_big_enough_tooltip | translate">
                        {{ textService.company_details_book_value_big_enough | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckBookValueBigEnough}">
                    {{ companyDetails.doesPassCheckBookValueBigEnough ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_price_to_book_small_enough_tooltip | translate">
                        {{ textService.company_details_price_to_book_small_enough | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckPriceToBookSmallEnough}">
                    {{ companyDetails.doesPassCheckPriceToBookSmallEnough ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_cash_flow_big_enough_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_cash_flow_big_enough | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_BigEnough}">
                    {{ companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_BigEnough ? (textService.text_yes |
                    translate) : (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_owner_earnings_big_enough_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_owner_earnings_big_enough |
                        translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_BigEnough}">
                    {{ companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_BigEnough ?
                    (textService.text_yes | translate) : (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_cash_flow_not_too_big_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_cash_flow_not_too_big | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_NotTooBig}">
                    {{ companyDetails.doesPassCheckEstNextYearTotalReturn_CashFlow_NotTooBig ? (textService.text_yes |
                    translate) : (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_owner_earnings_not_too_big_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_owner_earnings_not_too_big |
                        translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_NotTooBig}">
                    {{ companyDetails.doesPassCheckEstNextYeartotalReturn_OwnerEarnings_NotTooBig ?
                    (textService.text_yes | translate) : (textService.text_no | translate) }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_avg_cash_flow_positive_tooltip | translate">
                        {{ textService.company_details_avg_cash_flow_positive | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAvgCashFlow_Positive}">
                    {{ companyDetails.doesPassCheckAvgCashFlow_Positive ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_avg_owner_earnings_positive_tooltip | translate">
                        {{ textService.company_details_avg_owner_earnings_positive | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAvgOwnerEarningsPositive}">
                    {{ companyDetails.doesPassCheckAvgOwnerEarningsPositive ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_retained_earnings_positive_tooltip | translate">
                        {{ textService.company_details_retained_earnings_positive_tooltip | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckAdjustedRetainedEarningsPositive}">
                    {{ companyDetails.doesPassCheckAdjustedRetainedEarningsPositive ? (textService.text_yes | translate)
                    : (textService.text_no | translate) }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_retained_earnings_increased_tooltip | translate">
                        {{ textService.company_details_retained_earnings_increased | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.didAdjustedRetainedEarningsIncrease}">
                    {{ companyDetails.didAdjustedRetainedEarningsIncrease ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>
            </tr>
            <tr class="mat-row data-table__row--alternating">
                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_history_long_enough_tooltip | translate">
                        {{ textService.company_details_history_long_enough | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score"
                    [ngClass]="{no: !companyDetails.doesPassCheckIsHistoryLongEnough}">
                    {{ companyDetails.doesPassCheckIsHistoryLongEnough ? (textService.text_yes | translate) :
                    (textService.text_no | translate) }}
                </td>

                <!-- Spacer -->
                <td class="mat-row data-table__data" colspan="4">&nbsp;</td>

                <th class="mat-header-cell data-table__header">
                    {{ textService.text_overall_score | translate}}
                </th>
                <td class="mat-cell data-table__data data-table__data--score">
                    <strong>{{ companyDetails.overallScore }} / 13</strong>
                </td>
            </tr>

            <!-- Financials -->
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header data-table__header--caption-cell" colspan="2" rowspan="5">
                    {{ textService.text_financials | translate }}
                </th>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_market_cap_tooltip | translate">
                        {{ textService.text_market_cap | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curMarketCap | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_long_term_debt_tooltip | translate">
                        {{ textService.text_long_term_debt | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curLongTermDebt | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_total_shareholders_equity_tooltip | translate">
                        {{ textService.text_total_shareholders_equity | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curTotalShareholdersEquity | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_cur_dividends_paid_tooltip | translate">
                        {{ textService.text_cur_dividends_paid | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curDividendsPaid | currency:'USD':'symbol':'1.0-0' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_avg_net_cash_flow_tooltip | translate">
                        {{ textService.text_avg_net_cash_flow | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.averageNetCashFlow | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_avg_owner_earnings_tooltip | translate">
                        {{ textService.text_avg_owner_earnings | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.averageOwnerEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_cur_retained_earnings_tooltip | translate">
                        {{ textService.text_cur_retained_earnings | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curAdjustedRetainedEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_oldest_retained_earnings_tooltip | translate">
                        {{ textService.text_oldest_retained_earnings | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.oldestRetainedEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_debt_to_equity_ratio_tooltip | translate">
                        {{ textService.text_debt_to_equity_ratio | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.debtToEquityRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_cur_price_to_book_ratio_tooltip | translate">
                        {{ textService.text_cur_price_to_book_ratio | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curPriceToBookRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_debt_to_book_ratio_tooltip | translate">
                        {{ textService.text_debt_to_book_ratio | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.longTermDebtToBookRatio | number:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_book_value_tooltip | translate">
                        {{ textService.text_book_value | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.curBookValue | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_book_value_from_cash_flow_tooltip | translate">
                        {{ textService.company_details_est_next_year_book_value_from_cash_flow | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearBookValue_FromCashFlow | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_book_value_from_owner_earnings_tooltip | translate">
                        {{ textService.company_details_est_next_year_book_value_from_owner_earnings | translate}}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearBookValueFromOwnerEarnings | currency:'USD':'symbol':'1.0-0' }}
                </td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
            <tr class="mat-row data-table__row">
                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_from_cash_flow_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_from_cash_flow | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearTotalReturnPercentage_FromCashFlow / 100.0 | percent:'1.2-2' }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span
                        [matTooltip]="textService.company_details_est_next_year_total_return_from_owner_earnings_tooltip | translate">
                        {{ textService.company_details_est_next_year_total_return_from_owner_earnings | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--numeric">
                    {{ companyDetails.estimatedNextYearTotalReturnPercentageFromOwnerEarnings / 100.0 | percent:'1.2-2'
                    }}
                </td>

                <th class="mat-header-cell data-table__header">
                    <span [matTooltip]="textService.company_details_num_annual_reports_tooltip | translate">
                        {{ textService.company_details_num_annual_reports | translate }}
                    </span>
                </th>
                <td class="mat-cell data-table__data data-table__data--score">{{
                    companyDetails.numAnnualProcessedCashFlowReports }}</td>

                <th class="mat-header-cell data-table__header">&nbsp;</th>
                <td class="mat-cell data-table__data">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>