@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $primary-palette: map.get($color-config, "primary");
    $accent-palette: map.get($color-config, "accent");

    .title:not(.title--dark) .title__title-name {
        color: mat.m2-get-color-from-palette($primary-palette);
    }

    .title .title--nav {
        a {
            color: mat.m2-get-color-from-palette($primary-palette);
        }

        a::after {
            background-color: mat.m2-get-color-from-palette($accent-palette);
        }

        a:hover {
            color: mat.m2-get-color-from-palette($accent-palette);
        }
    }
}

@mixin typography($theme) {
}

@mixin theme($theme, $typography-config) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}
