.title--dark {
    background-color: #1a1a2e;
    color: #e0e0e0;
}

.title__favicon {
    width: 32px;
    height: 32px;
}

.title .title__title-name {
    margin-left: 8px;
    color: #e0e0e0;
}

.title__spacer {
    flex: 1 1 auto;
}

.title__search {
    margin-right: 16px;
    margin-top: 8px;

    ::ng-deep .mat-mdc-form-field {
        .mat-mdc-text-field-wrapper {
            height: 40px;
            align-items: center;
        }

        .mat-mdc-form-field-infix {
            padding-top: 8px;
            padding-bottom: 8px;
            min-height: unset;
        }

        .mat-mdc-form-field-icon-prefix {
            display: flex;
            align-items: center;
            padding-right: 4px;

            .mat-icon {
                color: #e44944 !important;
                opacity: 1 !important;
            }
        }
    }
}

.title .title--nav {
    font-size: 1rem;
    display: flex;
    margin-left: 1rem;
    padding: 0;

    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    &.title--locale {
        cursor: pointer;
    }
}
