<mat-toolbar class="title">
    <img class="title__flag" src="../../assets/canada-flag.svg" alt="[Canada flag]"/>
    <span class="title__title-name">{{ textService.header_tsx_deep_value_guide | translate }}</span>
    <span class="title__spacer"></span>
    <span><app-quick-search></app-quick-search></span>
    <span class="title--nav title--locale"><a (click)="setLocale('en-US')">en</a></span>
    <span class="title--nav title--locale"><a (click)="setLocale('zh-CN')">中文</a></span>
</mat-toolbar>