<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-list-item routerLink="/companies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Top Companies</a>
      <a mat-list-item routerLink="/companies/bottom" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bottom Companies</a>
      <a mat-list-item routerLink="/companies/all" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Companies</a>
      <a mat-list-item routerLink="/companies/missing_data" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Missing Data</a>
      <a mat-list-item routerLink="/companies/updated_raw_data_reports" routerLinkActive="active">Raw Data Reports</a>
      <a mat-list-item routerLink="/system-controls" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">System Controls</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
